body {
    background-image:url(../Images/Background2.jpg);
    font-family: cursive;
    font-size: x-large;
   }

header {
    background-color:darkolivegreen;
    color:beige;
    padding: 20px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: xx-large;
    text-shadow: 1px 1px 2px black 0 0 25px gray;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    margin:auto;
}

main {
    text-align: center;
    margin:auto;
}

footer {
    background-color: black;
    color: darkolivegreen;
    text-align: center;
    margin:auto;
}

button {
    background-color:darkolivegreen;
    color:beige
}

button:hover {
    background-color:darkolivegreen;
}

header2 {
    text-align: center;
    color: black;
    margin:auto;
}

#gif-container {
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    margin:auto;
    width:auto;
}

img {
    border-radius: 25px;
    box-shadow: 5px 5px 5px;
    margin:auto;
}

img:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
