body {
    background-image:url(../Images/Background2.jpg);
    font-family: cursive;
    font-size: x-large;
   }

header {
    background-color:darkolivegreen;
    color:beige;
    padding: 20px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: xx-large;
}

footer {
    background-color: black;
    color: darkolivegreen;
    text-align: center;
}

button {
    background-color:darkolivegreen;
    color:beige
}

button:hover {
    background-color:darkolivegreen;
}

header2 {
    text-align: center;
    color: black;
}

#gif-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: space-evenly;

}

img {
    border-radius: 25px;
}

img:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
